  <div class="crayons-card crayons-card--content-rows">
    <h2 class="crayons-subtitle-1">
      <%= t("views.settings.custom.metamask") %>
    </h2>
    <div class="crayons-field">
      <div class="theme-selector-field grid grid-cols-5">
      </div>
      <p>
        <%= t("views.settings.custom.metamask_description") %>
      </p>
      <span id='wallet_addresses'>
        <% if @user.wallets.any? %>
          <h2>Carteiras:</h2>
            <% @user.wallets.each do |wallet| %>
            <p id='wallet_address_paragraph'>
              <%= wallet.address %>
            </p>
            <% end %>
        <% end %>
      </span>
        <div>
          <%= javascript_packs_with_chunks_tag "connectMetamask" %>
          <div>
            <button class='crayons-btn crayons-btn--bg delete-wallet' style="display: <%= @user.wallets.any? ? "block" : "none" %>">
              Delete Wallet
            </button>
            <button class='crayons-btn crayons-btn--bg connect-wallet' style="display: <%= @user.wallets.any? ? "none" : "block" %>">
              Connect Wallet
            </button>
          </div>
        </div>
    </div>
  </div>
